{% extends "general_template.html" %}
{% block title %}Carrito{% endblock %}
{% block content %}
{% block scripts %}
	<script src="{{ url_for('static', filename = 'scripts/carrito.js') }}"></script>
{% endblock %}
<h1>Los fant&aacute;sticos DVDs que vas a comprar</h1>
<div class="flex-row wrap">
	<div class="carrito-left">
		<div class="flex-column pedidos">
			{% if compradas %}
			{% for a in compradas %}
			<div class="black-border flex-row">
				<img alt="{{ a.titulo }}" src="{{ url_for('static', filename = 'media/img/')}}{{ a.poster }}" class="pedidos-img">
				<div>
					<h4><b>{{ a.titulo }}</b></h4>
					<h4><b>Cantidad: 
						<form method="post" class="auto_submit_form inline" action="/index.wsgi/carrito/{{ a.titulo }}/modificar/">
							<input name="cantidad" class="auto_submit_field" type="number" step="1" min="0" max="10" value="{{ a.cantidad }}"/>&nbsp;</b></form>
						<a href="/index.wsgi/carrito/{{ a.titulo }}/borrar/" class="button1 hov inline">Eliminar</a></h4>
					<h4 class="pedidos-right">Precio: {{ a.precio }}&euro;x{{ a.cantidad }}</h4>
				</div>
			</div>
			{% endfor %}
			{% endif %}
			<div class="black-border flex-row">
				<div class="full">
					<h4>TOTAL</h4>
					<h1 class="pedidos-right">{{ total }}&euro;</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="flex-column carrito-right">
		<a class="button3 hov" href="/index.wsgi/pagar/">Me los llevo</a>
		<a class="button3 hov" href="/index.wsgi/">Seguir comprando</a>
		<div class="black-border frase-motivadora1">
			<p><i>Hoy es el primer d&iacute;a del resto de mi vida</i></p>
			<p>~American Beauty~</p>
		</div>
	</div>
</div>
{% endblock %}