<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'stylesheet/style.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script> 
    $(document).ready(function(){
        $("#sidebar-handle").click(function(){
            $(".sidebar").toggle();
        });
    });
  </script>
</head>
<body>
  <div class="flex-column full flex-general"> 
    <div class="flex-top">
      <div class="flex-column">
        <div class="flex-row flex-1-top">
          <a href="/index.wsgi/"><img alt="La casa del dvd" src="{{ url_for('static', filename = 'media/img/la_casa_del_dvd.png') }}"></a>
          <h4>La casa del DVD</h4>
          <div class="login_buttons">
            <a class="button1 hov" href="/index.wsgi/login/">Login</a>
            <a class="button1 hov" href="/index.wsgi/register/">Registro</a>
          </div>
        </div>
        <div class="flex-row green flex-1-bottom">
          <a class="button2 hov green flex-row" href="/index.wsgi/"><img alt="Home" class="link-image" src="{{ url_for('static', filename = 'media/img/home.png') }}"></a>
          <a class="hov green flex-row button2" href="/films/peliculas1.html"><p>Pel&iacute;culas</p></a>
          <a class="hov green flex-row button2" href="/films/categorias/generos.html"><p>G&eacute;neros</p></a>
          <a class="hov green flex-row button2" href="/index.wsgi/contacto/"><p>Contacto</p></a>
          <form class="green flex-row">
              <input type="text" placeholder="Buscar..." name="search">
              <button type="submit"><img class="lupa-img" alt="Lupa" src="{{ url_for('static', filename = 'media/img/search.png') }}"></button>
            </form>
          <a class="hov green flex-row button2" href="/index.wsgi/carrito/"><img alt="Carrito" class="link-image" src="{{ url_for('static', filename = 'media/img/carrito.png') }}"></a>
        </div>
      </div>
    </div>

    
    <div class="flex-row flex-bottom full">
      <div class="sidebar flex-column" id="sidebar">
        <div class="sidebar-section flex-row wrap">
          <div class="sb-img-container">
          <a href="/films/accion/indiana_jones.html"><img alt="Indiana Jones" class="sb-img" src="{{ url_for('static', filename = 'media/img/indiana_jones.jpg') }}"></a>
          </div>
          <div class="sb-img-container">
          <a href="/films/comedia/yucatan.html"><img alt="Yucatan" class="sb-img" src="{{ url_for('static', filename = 'media/img/yucatan.jpg') }}"></a>
          </div>
          <div class="sb-img-container">
          <a href="/films/accion/gladiator.html"><img alt="Gladiator" class="sb-img" src="{{ url_for('static', filename = 'media/img/gladiator.jpg') }}"></a>
          </div>
          <div class="sb-img-container">
          <a href="/films/drama/lo_imposible.html"><img alt="Lo imposible" class="sb-img" src="{{ url_for('static', filename = 'media/img/lo_imposible.jpg') }}"></a>
          </div>
        </div>
        <div class="sidebar-section flex-row wrap">
          <div class="sb-img-container">
          <a href="/films/musical/mamma_mia.html"><img alt="Mamma mia" class="sb-img" src="{{ url_for('static', filename = 'media/img/mamma_mia.jpg') }}"></a>
          </div>
          <div class="sb-img-container">
          <a href="/films/ficcion/alien.html"><img alt="Alien" class="sb-img" src="{{ url_for('static', filename = 'media/img/alien.jpg') }}"></a>
          </div>
          <div class="sb-img-container">
          <a href="/films/musical/la_la_land.html"><img alt="La la land" class="sb-img" src="{{ url_for('static', filename = 'media/img/la_la_land.jpg') }}"></a>
          </div>
          <div class="sb-img-container">
          <a href="/films/comedia/campeones.html"><img alt="Campeones" class="sb-img" src="{{ url_for('static', filename = 'media/img/campeones.jpg') }}"></a>
          </div>
        </div>
      </div>
      <div class="sidebar-handle flex-column green black-border" id="sidebar-handle">
        <div class="sidebar-section hov"><div class="rotated">Populares</div></div>
        <div class="sidebar-section hov"><div class="rotated">Novedades</div></div>
      </div>
      <div class="flex-2-right flex-column">
<!--                               CONTENIDO                                                    -->
        {% block content %}{% endblock %}    
<!--                             FIN-DE-CONTENIDO                                              -->      
  
  </div>
  <div class="footer-frame green">
    <p class="footer-text"> Luc&iacute;a Colmenarejo P&eacute;rez   |   &Oacute;scar G&oacute;mez Borzdynski   |   &copy; 2018</p>
  </div>
</body>
</html>


<!--<div class="flex-column carrito-right">-->
