{% extends "general_template.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
				<h2>Novedades</h2>
				<div class="flex-row wrap index-down">
					{% for nov in novedades %}
					<div class="img-index">
						<a href="/index.wsgi/peliculas/{{ nov.titulo }}/"><img alt="{{ nov.titulo }}" class="sb-img" src="{{ url_for('static', filename = 'media/img/') }}{{ nov.poster }}"></a>
					</div>
					{% endfor %}
				</div>

				<div class="flex-row wrap">
					<div class="flex-column index-down-left">
						<h2>Categor&iacute;as destacadas</h2>	
						<div class="flex-row wrap ">
							{% for dest in destacadas %}
							<div class="img-index"> <!-- Holaaa -->
								<a href="/index.wsgi/categorias/{{ dest.nombre }}/"><img alt="{{ dest.nombre }}" class="sb-img" src="{{ url_for('static', filename = 'media/img/') }}{{ dest.imagen }}"></a>
								<h4>{{ dest.nombre }}</h4>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="flex-column index-down-right">
						<p><b>B&uacute;squeda por nombre:</b></p>
		 	  			<input type="text" name="UserName">
		 	  			<p><b>B&uacute;squeda por categor&iacute;a:</b></p>
		 	  			<select>
							<option value="1">Seleccione categoria</option>
							<option value="2">Acci&oacute;n</option>
							<option value="3">Animaci&oacute;n</option>
							<option value="4">Drama</option>
							<option value="5">Ficci&oacute;n</option>
							<option value="6">Musical</option>
						</select>
						<br>
						<input type="button" value="Buscar" class="register-button green hov">
					</div>
				</div>
			</div>
		</div>
{% endblock %}
