{% extends "general_template.html" %}
{% block title %}Pagar{% endblock %}
{% block content %}
	<h1>PAGO</h1>
	<form action="/index.wsgi/pagar/confirmar/" method="post">
	<p><b>Direcci&oacute;n de env&iacute;o:</b>
			 	  <input type="text" name="Direccion", required="required"></p>
	<p><input type="checkbox" name="Regalo" value="Si">Contiene un regalo</p>
	<h1>{{ total }}</h1>
	<input type="submit" value="Pagar" class="register-button green hov">
</form>
{% if error %}
<p class="red">Saldo insuficiente</p>
{% endif %}
{% endblock %}