{% extends "general_template.html" %}
{% block title %}{{ Titulo }}{% endblock %}
{% block content %}
<!--                         CONTENIDO                             -->
	<h1>{{ Titulo }}</h1>
	<div class="flex-row film-container">
		<img alt="{{ pelicula.titulo }}" src="{{ url_for('static', filename = 'media/img/') }}{{ pelicula.poster }}" class="film-image">
		<p class="film-description">
			{% if pelicula.director %}<b>Director:</b>{{ pelicula.director }}<br><br>{% endif %}
			{% if pelicula.actores|length %}
			<b>Reparto: </b>
				{% for a in pelicula.actores %}
				{{ a }}&nbsp;
				{% endfor %}
			{% endif %}
			<br><br>
			<b>A&ntilde;o:</b>{{ pelicula.anno }}<br><br>
			{% if pelicula.paises|length %}
			<b>Paises: </b>
				{% for a in pelicula.paises %}
				{{ a }}&nbsp;
				{% endfor %}
			{% endif %}
		</p>
		<div class="green black-border film-buy-container flex-column">
			<h1 class="button1">{{ pelicula.precio }}€</h1>
			<a class="button1 hov" href="/index.wsgi/peliculas/{{ pelicula.productoid }}/comprar/">A&ntilde;adir al carrito</a>
		</div>
	</div>
	<h1>Pel&iacute;culas similares</h1>
	<div class="black-border film-similar-container flex-row">
		{% for a in similares %}
		<div class="film-similar-img-container">
			<a href="/index.wsgi/peliculas/{{ a.productoid }}/"><img alt="{{ a.titulo }}" src="{{ url_for('static', filename = 'media/img/') }}{{ a.poster }}"></a>
		</div>
		{% endfor %}
	</div>
	<h1>OH!-PI&Ntilde;ONES</h1>
	<div class="flex-column film-opinions-container">
		<p>"Es la pel&iacute;cula m&aacute;s seria entregada por Marvel hasta la fecha. Tambi&eacute;n es la mejor rodada y (ex aequo con 'Los Vengadores') la mejor escrita." <br>Jacinto Soria<br><b>Puntuaci&oacute;n:</b>4 pi&ntilde;ones<img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"><img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"><img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"><img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"></p>
		<p>"Un gigantesco entretenimiento que encuentra espacio para algo de resonancia emocional bajo el excelente espect&aacute;culo, 'Captain America: Civil War' es un thriller de acci&oacute;n totalmente satisfactorio con muy buen ritmo."<br>Lizt Rose<br><b>Puntuaci&oacute;n:</b>4 pi&ntilde;ones<img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"><img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"><img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"><img alt="Piñon" src="{{ url_for('static', filename = 'media/img/pinon.png') }}" width="30"></p>	
	</div>
<!--                     FIN CONTENIDO                             -->
{% endblock %}